ion-content {
}
.signup-form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, pink 50%, cyan 50%);
  form {
    margin: 20px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    width: 330px;
    height: 474px;
    padding: 30px;
    background: white;
    .signup-text {
      text-align: center;
      font-size: 30px;
      margin: 30px 0;
    }
    ion-item {
      margin-bottom: 20px;
    }
    ion-row {
      justify-content: center;
      padding-top: 30px;
      ion-button {
        margin: 0 10px;
      }
    }
  }
}
